@{
    Layout = "~/Views/Shared/_adminlayout.cshtml";
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="~/img/a.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ANOMALY SOFTWARE</h5>
                    <p class="card-text">
                        Descripción de la Empresa:

                        Anomaly Software es una consultora innovadora en el desarrollo de software y diseño web con sede en una metrópolis vibrante. Fundada en el año 20XX por un equipo de visionarios tecnológicos, nuestra empresa se ha destacado por su enfoque único y su capacidad para transformar ideas en realidad digital.

                        <!-- Resto del contenido omitido por brevedad -->

                    </p>
                    <a href="#" class="btn btn-primary">Go home</a>
                </div>
            </div>
        </div>
    </div>
</div>
  